header{
	.logos{
		display: flex;
		max-width: 1024px;
		margin: auto;
		.box{
			flex: 1;
			display: flex;
		}
		.logo-icyah{
			justify-content: flex-end;
			align-self: center;
			padding: 32px;
		}
		.desc-icyah{
			flex-direction: column;
			align-items: center;
			flex: 3;
			padding: 16px;
			.title{
				background-color: rgb(208,0, 94);
				padding: 8px;
				color: #fff;
				max-width: 125px;
				font-weight: 700;
			}
			.desc{
				font-weight: 300;
				font-size: 18px;
			}
			.subtitle{
				color: rgb(20, 92, 171);
			}
			.details{
				color: #000;
				font-size: 14px;
				font-style: italic;
			}
		}
	}
	.nav-container{
		background-color: rgb(208,0, 94);
	}
	nav.sidebar{
		position: relative;
		z-index: 1;
		margin: auto;
		text-align: left;
		max-width: 1024px;
		display: flex;
		justify-content: space-between;
	}

	.logo.link {
		padding: 0;
	}
	.link {
		position: relative;
		vertical-align: middle;
		padding: 8px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		text-transform: uppercase;
		&:hover{
			background-color:rgba(255,255,255,0.5);
			.sublinks{
				display: block;
			}
		}
	}
	.sidebar-switch{
		position: absolute;
		top:10px;
		left:10px;
		display: none;
	}
	.sublinks{
		display: none;
		position: absolute;
		left: 0;
		top: 45px;
		background: rgb(208,0, 94);
	}
	.sublink{
		color: #fff;
		padding: 8px;
		width: 150px;
		display: inline-block;
	}
}

@media screen and (max-width: 1024px) {
	header{
		background-color:transparent;
		nav.sidebar{
			background-color:#333;
			position: fixed;
			left: 0;
			top: 0;
			height:100%;
			width: 80%;
    	max-width: 350px;
			will-change: transform;
			transform: translate3d(-100%,0,0);
			transition-duration: 300ms;
			transition-propert: transform;
			z-index:2;
			&.opened{
				transform: translate3d(0,0,0);
			}
		}
		.sidebar-switch{
			cursor: pointer;
		}
		.sidebar-switch{
			display: inline-block;
		}
		.link{
			display: block;
		}
	}
}