header .logos{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1024px;
	margin: auto;
}

header .logos .box{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

header .logos .logo-icyah{
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	padding: 32px;
}

header .logos .desc-icyah{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 3;
	    -ms-flex: 3;
	        flex: 3;
	padding: 16px;
}

header .logos .desc-icyah .title{
	background-color: rgb(208,0, 94);
	padding: 8px;
	color: #fff;
	max-width: 125px;
	font-weight: 700;
}

header .logos .desc-icyah .desc{
	font-weight: 300;
	font-size: 18px;
}

header .logos .desc-icyah .subtitle{
	color: rgb(20, 92, 171);
}

header .logos .desc-icyah .details{
	color: #000;
	font-size: 14px;
	font-style: italic;
}

header .nav-container{
	background-color: rgb(208,0, 94);
}

header nav.sidebar{
	position: relative;
	z-index: 1;
	margin: auto;
	text-align: left;
	max-width: 1024px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

header .logo.link {
	padding: 0;
}

header .link {
	position: relative;
	vertical-align: middle;
	padding: 8px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
	text-transform: uppercase
}

header .link:hover{
	background-color: rgba(255,255,255,0.5);
}

header .link:hover .sublinks{
	display: block;
}

header .sidebar-switch{
	position: absolute;
	top:10px;
	left:10px;
	display: none;
}

header .sublinks{
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
	background: rgb(208,0, 94);
}

header .sublink{
	color: #fff;
	padding: 8px;
	width: 150px;
	display: inline-block;
}

@media screen and (max-width: 1024px) {
	header{
		background-color:transparent;
	}
	header nav.sidebar{
		background-color:#333;
		position: fixed;
		left: 0;
		top: 0;
		height:100%;
		width: 80%;
		max-width: 350px;
		will-change: transform;
		-webkit-transform: translate3d(-100%,0,0);
		        transform: translate3d(-100%,0,0);
		-webkit-transition-duration: 300ms;
		        transition-duration: 300ms;
		transition-propert: transform;
		z-index:2
	}
	header nav.sidebar.opened{
		-webkit-transform: translate3d(0,0,0);
		        transform: translate3d(0,0,0);
	}
	header .sidebar-switch{
		cursor: pointer;
	}
	header .sidebar-switch{
		display: inline-block;
	}
	header .link{
		display: block;
	}
}.page.page-home{
	margin-top: 0px;
}
.page.page-home .mobCover{
	position: relative;
	margin-bottom:15px;
	height: 400px;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-image: url('/images/cover.jpg');
}
.page.page-home .mobCover .link{
	position: absolute;
	text-align: center;
	background: rgba(0,0,0,0.5);
	width: 200px;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 0;
	font-size: 20px;
	right: 10px;
	bottom: 10px;
}
.page.page-home .mobCover .link-registration{
	bottom: 70px;
}
.page.page-home .from{
	margin-top: 25px;
}
.page.page-home .head{
	font-size: 35px;
	margin-bottom: 25px;
	font-weight: 700;
	text-align: center;
}
.page.page-home .content-home{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.page.page-home .content-home .sidepanel{
	-webkit-box-flex: 3;
	    -ms-flex: 3;
	        flex: 3;
}
.page.page-home .content-home .content{
	-webkit-box-flex: 7;
	    -ms-flex: 7;
	        flex: 7;
}
.page.page-home .sidepanel{
	padding-right: 16px;
}
.page.page-home .sidepanel .dates{
	border: 1px solid Black;
	min-height: 300px;
}
.page.page-home .sidepanel .title{
	padding: 16px;
	text-align: center;
	background-color: #FFEB3B;
}
.page.page-home .sidepanel .date{
	font-size: 16px;
	padding: 12px;
	border-bottom: 1px dashed;
	margin: 0 8px;
}
.page.page-home .venue{
	margin-top: 16px;
	text-align: center;
}
.page.page-home .venue .name{
	padding: 8px;
}
.page.page-home .pic{
	margin-top: 16px;
	width: 100%;
}
.page.page-home .pic-president{
	margin-top: 16px;
}.page-fees .typl8-delta{
    margin: 20px auto;
}
.page-fees table{
    width: 100%;
}
.page-fees td{
    padding: 8px;
}.page-abstract label{
	display: inline-block;
	width: 200px;
}


.page-abstract .submit, .page-abstract button{
	border:0px;
	color: #fff;
	padding: 8px 16px;
	min-width: 150px;
	font-size: 20px;
	border-radius: 3px;
	margin: 8px auto;
	background-color: #009688;
	outline: 0px;
}


.page-abstract .icon-success{
	vertical-align: middle;
	margin-right: 15px;
}


.page-abstract .text{
	display: inline-block;
}


input.typl8-zeta{
	width: 250px;
	border : 0px solid #00aaee;
	margin-top: 16px;
	border-bottom-width: 1px;
	outline: 0px;
}.credentials{
    display: inline-block;
    padding: 16px;
    border: 1px solid;
}
.credentials .tab{
    display: inline-block;
    width: 49%;
    color: #999;
    cursor: pointer
}
.credentials .tab.active{
    color: #333;
    font-weight: 700;
}@charset "UTF-8";
/*!
Typeplate : Starter Kit
URL ........... http://typeplate.com
Version ....... 3.0.2
Github ........ https://github.com/typeplate/starter-kit
Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
License ....... Creative Commmons Attribution 3.0
License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}
@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}
.typl8-tera, .typl8-giga, .typl8-mega, h1, .typl8-alpha, h2, .typl8-beta, h3, .typl8-gamma, h4, .typl8-delta, h5, .typl8-epsilon, .typl8-zeta, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  color: #222;
}
blockquote + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right;
}
body {
  word-wrap: break-word;
}
pre code {
  word-wrap: normal;
}
html {
  font: normal 112.5% / 1.65 serif;
}
body {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  color: #444;
}
.typl8-tera {
  font-size: 6.5em;
  margin-bottom: 3.93939rem;
}
.typl8-giga {
  font-size: 5em;
  margin-bottom: 3.0303rem;
}
.typl8-mega, h1 {
  font-size: 4em;
  margin-bottom: 2.42424rem;
}
.typl8-alpha, h2 {
  font-size: 3.33333em;
  margin-bottom: 2.0202rem;
}
.typl8-beta, h3 {
  font-size: 2.66667em;
  margin-bottom: 1.61616rem;
}
.typl8-gamma, h4 {
  font-size: 2em;
  margin-bottom: 1.21212rem;
}
.typl8-delta, h5 {
  font-size: 1.33333em;
  margin-bottom: 0.80808rem;
}
.typl8-epsilon {
  font-size: 1.16667em;
  margin-bottom: 0.70707rem;
}
.typl8-zeta, h6 {
  font-size: 1em;
  margin-bottom: 0.60606rem;
}
p {
  margin: auto auto 1.5rem;
}
p + p {
  text-indent: 1.5rem;
  margin-top: -1.5rem;
}
small {
  font-size: 65%;
}
input, abbr, acronym, blockquote, code, kbd, q, samp, var {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre {
  white-space: pre;
}
pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}
code {
  white-space: pre;
  font-family: monospace;
}
abbr {
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray;
}
abbr[title]:hover {
  cursor: help;
}
.typl8-drop-cap:first-letter {
  float: left;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}
p + .typl8-drop-cap {
  text-indent: 0;
  margin-top: 0;
}
/**
 * Lining Definition Style Markup
 *
  <dl class="typl8-lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-lining dt, .typl8-lining dd {
  display: inline;
  margin: 0;
}
.typl8-lining dt + dt:before, .typl8-lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
.typl8-lining dd + dd:before {
  content: ", ";
}
.typl8-lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}
/**
 * Dictionary Definition Style Markup
 *
  <dl class="typl8-dictionary-style">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
.typl8-dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
.typl8-dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
.typl8-dictionary-style dd:before {
  content: counter(definitions, decimal) ". ";
}
/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="typl8-pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.typl8-pull-quote {
  position: relative;
  padding: 1em;
}
.typl8-pull-quote:before, .typl8-pull-quote:after {
  height: 1em;
  opacity: 0.5;
  position: absolute;
  font-size: 4em;
  color: #dc976e;
}
.typl8-pull-quote:before {
  content: '\201C';
  top: 0;
  left: 0;
}
.typl8-pull-quote:after {
  content: '\201D';
  bottom: 0;
  right: 0;
}.page{
	max-width: 1024px;
	margin: 20px auto;
}

.inline-block{
	display: inline-block;
}

@media screen and (max-width: 1024px) {
	max-width: 100%;
}body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.lightFont{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.normalFont{
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.boldFont{
  font-family: "HelveticaNeue-bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
