<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./src/favicon.ico">
    <link rel="stylesheet" href="/public/js/css/app.css">
    <title>ICYAH</title>
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.user={{{user}}};
    </script>
    <script src="/public/js/vendor.bundle.js"></script>
    <script src="/public/js/app.js"></script>
  </body>
</html>
