.page.page-home{
	margin-top: -80px;
	.mobCover{
		margin-bottom:15px;
		height: 500px;
		width: 100%;
		background-position: center;
		background-size: cover;
		background-image: url('/images/cover.jpg');
	}
	.from{
		margin-top: 25px;
	}
	.head{
		font-size: 35px;
    margin-bottom: 25px;
    font-weight: 700;
	}
}

@media screen and (max-width: 1024px) {
	.page.page-home{
		.cover{
			display: none;
		}
	}
}