.page.page-home{
	margin-top: -80px;
	.mobCover{
		margin-bottom:15px;
		height: 500px;
		width: 100%;
		background-position: center;
		background-size: cover;
		background-image: url('https://placeholdit.imgix.net/~text?txtsize=33&txt=ICYAH&w=1024&h=500');
	}
}

@media screen and (max-width: 1024px) {
	.page.page-home{
		.cover{
			display: none;
		}
	}
}