.page-abstract{
	label{
		display: inline-block;
		width: 200px;
	}
	.icon-success{
		vertical-align: middle;
		margin-right: 15px;
	}
	.text{
		display: inline-block;
	}
}


input.typl8-zeta{
	width: 250px;
	border : 0px solid #00aaee;
	margin-top: 16px;
	border-bottom-width: 1px;
	outline: 0px;
}

.submit, button{
	border:0px;
	color: #fff;
	padding: 8px 16px;
	min-width: 150px;
	font-size: 20px;
	border-radius: 3px;
	margin: 8px auto;
	background-color: #009688;
	outline: 0px;
}